:root {
    --cor-fundo: #121212;
    --cor-secundaria: #1e1e1e;
    --cor-detalhe: #2d2d2d;
    --cor-hover: #333333;
    --cor-primaria: #ff4d4f;
    /* vermelho destaque */
    --cor-secundaria-destaque: #3a6eff;
    /* azul de contraste */
    --texto-primario: #f5f5f5;
    --texto-secundario: #aaaaaa;
    --borda: #2b2b2b;
    --input-fundo: #1c1c1c;
    --input-borda: #3a3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

header {
    background-color: var(--cor-secundaria);
    color: var(--texto-primario);
    padding: 0px 20px;
    text-align: center;
    border-bottom: 1px solid var(--borda);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    font-size: 11pt;
}

header p {
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
}

span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-primaria);
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.menu ul a:hover {
    color: var(--cor-primaria);
    background-color: var(--cor-hover);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--texto-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

body {
    background-color: var(--cor-fundo);
    color: var(--texto-primario);
    font-family: 'Poppins', sans-serif;
}

main {
    text-align: center;
    background-color: var(--cor-fundo);
    padding: 20px;
    width: 100%;
    height: 90dvh;
    margin: 0 auto;
}

main h1 {
    padding: 40px 0;
}

.funcoesIniciais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    gap: 20px;
}

.tarefasPendentes,
.interesses,
.atalhos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    width: 40%;
    height: 50%;
    background-color: var(--cor-secundaria-destaque);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--cor-detalhe);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--texto-primario);
}

#tituloAba{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--texto-primario)
}

.frase-motivacional {
    /* background-color: var(--cor-secundaria); */
    background: radial-gradient(rgb(111, 0, 255), blue);

    width: 100%;
    height: 25dvh;
    align-items: center;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    border-radius: 10px;
}

.tarefa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0px 20px;
}

.itensInteresse ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.itensAtalho {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 0px;
    font-size: 8pt;
    font-weight: 400;
    background-color: transparent;
    cursor: default;
}

.itensAtalho ul li {
    user-select: none;
}

.itensAtalho ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.interesses .itens li:hover {
    background-color: var(--cor-hover);
}

.itens input {
    cursor: pointer;
    transform: scale(1.1);
}

.menu-link.active {
    color: rgba(240, 55, 55, 0.753);
    font-weight: bold;
    background-color: var(--cor-hover);
}

.estruturaSimulado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.materias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
    width: 50%;
    height: 80%;
    background-color: var(--cor-detalhe);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--cor-detalhe);
    font-weight: 500;
    color: var(--texto-primario);
}

.parte1,
.parte2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    transform: translate(20%, 0%);
    gap: 10px;
}

#gerarSimu {
    grid-column: span 2; /* ocupa as 2 colunas */
    width: 100%;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: var(--texto-primario);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
}

#gerarSimu:hover {
    background-color: var(--cor-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.materia{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.configuracoesSimulado{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 50%;
    height: 80%;
    background-color: var(--cor-detalhe);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--cor-detalhe);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--texto-primario);
}






.itens::-webkit-scrollbar {
    width: 8px;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.637);
}

.itens::-webkit-scrollbar-thumb {
    background-color: rgb(161, 65, 224);
    border-radius: 10px;
}

.itens::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1vw;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
    }
}